body {
  background-color: transparent;
}

.App input {
  margin: 5px;
  width: calc(100% - 10px);
}

.react-json-view {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: initial;
  font-size: initial;
}